<div class="container">
  <header>
    <h1>MY STORE</h1>
    <div class="product-count">{{ products.length }} Products</div>
  </header>
  <div class="main-content">
    <div class="sidebar">
      <button class="add-button" (click)="onAddProduct()">+ ADD</button>
      <input
        class="search-box"
        type="text"
        placeholder="Search"
        (input)="onSearch($event)"
      />
      <div class="sort">
        <label for="sort">Sort By:</label>
        <select id="sort" (change)="onSortChange($event)">
          <option value="name">Name</option>
          <option value="date">Recently Added</option>
        </select>
      </div>
      <div class="product-list">
        <div
          *ngFor="let product of paginatedProducts"
          class="product-item"
          (click)="onSelectProduct(product)"
        >
          <div>{{ product.name }}</div>
          <div>{{ product.description }}</div>
          <button
            class="delete-button"
            (click)="onDeleteProduct(product.id, $event)"
          >
            DELETE
          </button>
        </div>
      </div>
      <div class="pagination">
        <button (click)="previousPage()" [disabled]="currentPage === 1">
          Previous
        </button>
        <button
          *ngFor="let page of totalPagesArray"
          (click)="goToPage(page)"
          [class.active]="page === currentPage"
        >
          {{ page }}
        </button>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">
          Next
        </button>
      </div>
    </div>
    <div class="details-pane" *ngIf="selectedProduct">
      <div class="product-image">
        <img src="assets\product1.jpg" alt="Product Image" />
      </div>
      <div class="product-details">
        <label for="name">Name</label>
        <input id="name" [(ngModel)]="selectedProduct.name" />
      </div>
      <div class="product-details">
        <label for="description">Description</label>
        <textarea
          id="description"
          [(ngModel)]="selectedProduct.description"
        ></textarea>
      </div>
      <div class="product-details">
        <label for="price">Price</label>
        <input id="price" type="number" [(ngModel)]="selectedProduct.price" />
      </div>
      <button
        class="save-button"
        (click)="onSaveProduct()"
        [disabled]="!isValid()"
      >
        SAVE
      </button>
    </div>
  </div>
</div>
